Source: ros-jazzy-husarion-gz-worlds
Section: misc
Priority: optional
Maintainer: "Husarion" <support@husarion.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-ros-workspace
Homepage: https://husarion.com/
Standards-Version: 3.9.2

Package: ros-jazzy-husarion-gz-worlds
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-launch, ros-jazzy-launch-ros, ros-jazzy-ros-gz-sim, ros-jazzy-ros-workspace
Description: Package containing the gazebo worlds and model
